.classe1{
    color:steelblue; 
    font-weight:bold; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}  
.classe2{
    color:tomato; 
    font-weight:bold; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
} 